* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-links li {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.btn:hover {
    background: black;
    color: white;
}

.about {
    padding: 60px 40px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.about p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 60px 40px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: black;
    padding: 20px;
    color: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 1);
}

.card h3 {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0px 40px;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
}

.contact-form button {
    padding: 12px;
    background-color: black;
    color: white;

    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: white;
    color: black;
}